/* Estilos para el contenido principal */
.main-content {
    min-height: calc(100vh - 60px);
    padding: 2rem;
}

/* Estilos para iconos grandes */
.icon-large {
    font-size: 3rem;
}

.card-img-top{
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    justify-content: center;
    align-content: center;
}

#textTitulo{
    color: aliceblue;
}

#titulo1{
    color: aliceblue;
}
